<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'assets', :plugin => 'redmine_assets' %>
<% end %>
<%= render :partial => 'assets/sider' %>
<div class="assets_nav">
  <div class="actions">
    <% if has_right(@asset) %>
      <%= link_to "#{l(:label_edit)}", {:action => "edit", :id => @asset.id, :project_id => @project} %>
      |
      <%= link_to "#{l(:label_delete)}", {:controller => "assets", :action => "destroy", :id => @asset.id, :project_id => @project}, :confirm => l(:text_are_you_sure), :method => :delete %>
    <% end %>
    <% if User.current.admin? %>
      |
      <%= link_to "#{@asset.top? ? l(:label_unrecommend) : l(:label_recommend)}", {:action => "recommend", :id => @asset.id, :project_id => @project}, :confirm => l(:text_are_you_sure), :method => :post %>
    <% end %>
  </div>
  <%= link_to l(:label_assets_index), :action => :index, :project_id => @project %> - <%= @asset.name %>
</div>
<div class="assets_show">
  <table border="0" cellspacing="5" cellpadding="5" width="100%">
    <tr>
      <td width="160"><%= image_tag @asset.icon.url %></td>
      <td valign="top">
        <div class="info">
          <p>
            <%= l(:label_assets_name) %> : <%= @asset.name %>
          </p>
          <p>
            <%= l(:label_assets_author) %> : <%= link_to @asset.author, user_path(@asset.user_id) %>
          </p>
          <p>
            <%= l(:label_assets_website) %> : <%= link_to @asset.website, @asset.website, :target => "_blank" %>
          </p>
          <p>
            <%= l(:label_assets_compatible_with) %> : <%= @asset.compatible_with %>
          </p>
          <p>
            <%= l(:label_platform) %> : <%= @asset.asset_platforms.map{|p| link_to p.name, :action => :index, :platform => p.id, :project_id => @project}.join(", ") %>
          </p>
          <p>
            <%= l(:label_api_language) %> : <%= @asset.asset_api_languages.map{|a| link_to a.name, :action => :index, :api => a.id, :project_id => @project}.join(", ") %>
          </p>
        </div>
      </td>
    </tr>
    <% if @asset.attachment.file? %>
    <tr>
      <td colspan="2">
        <%= l(:label_assets_attachment) %>: <%= link_to @asset.attachment.original_filename, @asset.attachment.url %> <%= @asset.author %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <h3><%= l(:label_assets_description) %></h3>
        <div>
          <%= textilizable @asset, :description %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3><%= l(:label_reply_plural) %> (<%= @asset.asset_comments_count %>)</h3>
        <% @comments.each do |message| %>
          <div class="message reply" id="<%= "message-#{message.id}" %>">
          <h4>
            <div class="contextual">
              <%= link_to(image_tag('delete.png'), {:action => 'delcomment', :id => @asset, :cid => message, :project_id => @project}, :method => :post, :confirm => l(:text_are_you_sure), :title => l(:button_delete)) if message.user_id == User.current.id %>
            </div>
            <%= avatar(message.user, :size => "24") %>
            <%= authoring message.created_at, message.user %>
          </h4>
          <div class="wiki"><%= textilizable message, :comment %></div>
          <% if message.attachment.file? %>
          <div class=""><%= l(:label_assets_attachment) %>: <%= link_to message.attachment.original_filename, message.attachment.url %></div>
          <% end %>
          </div>
        <% end %>
        <p class="pagination"><%= will_paginate @comments, :param_name => "page", :previous_label => l(:label_pre_page), :next_label => l(:label_next_page) %></p>
        
      </td>
    </tr>
    <% if User.current.logged? %>
    <tr>
      <td colspan="2">
        <% form_for :comment, :url => {:action => 'postcomment', :id => @asset, :project_id => params[:project_id]}, :html => {:multipart => true} do |f| %>
          <%= text_area_tag :comment, "", :cols => 60, :rows => 5, :class => 'wiki-edit', :id => "comment_input" %>
          <%= wikitoolbar_for 'comment_input' %>
          <div>
            <div style="float: right;">
              <%= submit_tag l(:button_write_commit) %>
            </div>
            <%= file_field_tag :attachment %>
          </div>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

</div>