<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'assets', :plugin => 'redmine_assets' %>
<% end %>
<%= render :partial => 'assets/sider' %>
<div class="assets_nav">
  <div class="actions">
    <% if has_right(@asset) %>
      <%= link_to "#{l(:label_edit)}", {:action => "edit", :id => @asset.id, :project_id => @project} %>
      |
      <%= link_to "#{l(:label_delete)}", {:controller => "assets", :action => "destroy", :id => @asset.id, :project_id => @project}, :confirm => l(:text_are_you_sure), :method => :delete %>
    <% end %>
    <% if User.current.admin? %>
      |
      <%= link_to "#{@asset.top? ? l(:label_unrecommend) : l(:label_recommend)}", {:action => "recommend", :id => @asset.id, :project_id => @project}, :confirm => l(:text_are_you_sure), :method => :post %>
    <% end %>
  </div>
  <%= link_to l(:label_assets_index), :action => :index, :project_id => @project %> - <%= @asset.name %>
</div>
<div class="assets_show">
  <table border="0" cellspacing="5" cellpadding="5" width="100%">
    <tr>
      <td width="160"><%= image_tag @asset.icon.url %></td>
      <td valign="top">
        <div class="info">
          <p>
            <%= l(:label_assets_name) %> : <%= @asset.name %>
          </p>
          <p>
            <%= l(:label_assets_author) %> : <%= link_to @asset.author, user_path(@asset.user_id) %>
          </p>
          <p>
            <%= l(:label_assets_website) %> : <%= link_to @asset.website, @asset.website, :target => "_blank" %>
          </p>
          <p>
            <%= l(:label_assets_compatible_with) %> : <%= @asset.compatible_with %>
          </p>
          <p>
            <%= l(:label_platform) %> : <%= @asset.asset_platforms.map{|p| link_to p.name, :action => :index, :platform => p.id, :project_id => @project}.join(", ") %>
          </p>
          <p>
            <%= l(:label_api_language) %> : <%= @asset.asset_api_languages.map{|a| link_to a.name, :action => :index, :api => a.id, :project_id => @project}.join(", ") %>
          </p>
        </div>
      </td>
    </tr>
    <% if @asset.attachment.file? %>
    <tr>
      <td colspan="2">
        <%= l(:label_assets_attachment) %>: <%= link_to @asset.attachment.original_filename, @asset.attachment.url %> <%= @asset.author %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <h3><%= l(:label_assets_description) %></h3>
        <div>
          <%= simple_format @asset.description %>
        </div>
      </td>
    </tr>
  </table>

  <% labelled_tabular_form_for :comment, :url => {:action => 'postcomment', :id => @asset, :project_id => params[:project_id]} do |f| %>
    <div>
      <%= text_field_tag :comment, "", :style => "width: 400px;" %>
      <%= submit_tag l(:button_write_commit) %>
    </div>
    {{comment_form}}
  <% end if User.current.logged? %>

  <table border="0" cellspacing="5" cellpadding="5" width="100%">
    <% for comment in @comments %>
    <tr>
      <td colspan="2">
        <%= comment.user.name %> : <%=h comment.comment%> (<%= comment.created_at.to_s(:db) %>)
        <% if User.current.admin? or comment.user_id == User.current.id %>
          [<%= link_to l(:label_delete), {:action => :delcomment, :id => @asset, :cid => comment, :project_id => params[:project_id]}, :confirm => l(:text_are_you_sure), :method => :post %>]
        <% end %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <%= will_paginate @comments, :param_name => "page", :previous_label => l(:label_pre_page), :next_label => l(:label_next_page) %>
      </td>
    </tr>
  </table>
</div>